.card {
    padding: 10px;
    text-align: center;
    transition: all ease .2s;
    cursor: pointer;
    width: 250px;
    background-color: #333;
    color: #f0f0f0;
    border-radius: 20px;

    .text-content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 5px;
    }

    img {
        width: 100%;
        height: 125px;
        margin-bottom: 10px;
    }

    h3 {
        height: 40px;
    }

    .capital {
        height: 35px;
    }
}

.card:hover {
    box-shadow: 0 0 10px #333;
}