nav a[aria-current="page"] {
  background-color: #f0f0f0;
  color: #333;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: #f0f0f0;
    padding-block: 20px;
}
header h2 {
    margin-bottom: 15px;
}
header a {
    color: #f0f0f0;
    margin-inline: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    transition: all .2s ease;
}

header a:hover {
    color: #222;
    background-color: #f0f0f0;
    
    
}