.country-detail {
    width: 600px;
    border-radius: 30px;
    background-color: #333;
    color: #f0f0f0;
    text-align: center;
    padding: 15px;
    margin: auto;

    img {
        width: 100%;
    }

    a {
        color: #f0f0f0;
    }

    .header {
        margin-block: 15px;
        font: 600 24px Arial;
    }
    p {
        margin-bottom: 10px;
    }

    .link {
        font-weight: bolder;
    }

    .map { 
        font-size: 24px;
    }
}