.card {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    transition: all ease .2s;
    cursor: pointer;
    width: 250px;

    .text-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 5px;
    }

    img {
        width: 100%;
        height: 125px
    }
}

.card:hover {
    box-shadow: 0 0 10px black;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}